<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.donjoogga.mapper.ScholarshipMapper">

    <resultMap id="scholarshipResultMap" type="com.example.donjoogga.vo.Scholarship">
        <id property="refId" column="refId"/>

        <result property="title" column="title"/>
        <result property="organization" column="organization"/>
        <result property="deadline" column="deadline"/>
        <result property="category" column="category"/>
        <result property="support_amount" column="support_amount"/>
        <result property="description" column="description"/>
        <result property="sourceType" column="sourceType"/>
    </resultMap>

    <select id="selectTotalCount" resultType="int">
        SELECT COUNT(*) FROM Scholar
    </select>

    <select id="selectPagedScholarships" resultMap="scholarshipResultMap">
        SELECT
            S.scholar_id AS refId,
            S.title,
            S.organization,
            S.deadline,
            S.category,
            S.support_amount,
            S.description,
            'DB' AS sourceType
        FROM Scholar S
        ORDER BY S.scholar_id DESC LIMIT #{pageSize} OFFSET #{startRow}
    </select>

    <select id="selectAllAdminScholarships" resultType="com.example.donjoogga.vo.Scholarship">
        SELECT
            S.scholar_id        AS refId,
            S.title,
            S.organization,
            S.deadline,
            S.category,
            S.support_amount    AS supportAmount,
            'DB' AS sourceType,
            S.description
        FROM
            Scholar S
        ORDER BY
            S.deadline ASC
    </select>

    <select id="selectScholarshipById" resultMap="scholarshipResultMap">
        SELECT
            S.scholar_id AS refId,
            S.title,
            S.organization,
            S.deadline,
            S.category,
            S.support_amount,
            S.description,
            'DB' AS sourceType
        FROM
            Scholar S
        WHERE
            S.scholar_id = #{id}
    </select>

    <insert id="insertScholarship" useGeneratedKeys="true" keyProperty="refId">
        INSERT INTO Scholar (
            title, organization, deadline, category, support_amount, description
        ) VALUES (
            #{title}, #{organization}, #{deadline}, #{category}, #{support_amount}, #{description}
                 )
    </insert>

    <update id="updateScholarship">
        UPDATE Scholar
        SET
            title = #{title},
            organization = #{organization},
            deadline = #{deadline},
            category = #{category},
            support_amount = #{support_amount},
            description = #{description}
        WHERE
            scholar_id = #{refId}
    </update>

    <delete id="deleteScholarship">
        DELETE FROM Scholar
        WHERE scholar_id = #{id}
    </delete>
</mapper>