<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.donjoogga.mapper.UserMapper">

    <insert id="save" parameterType="com.example.donjoogga.vo.User">
        INSERT INTO User (
            user_id, email, password, income_bracket, gpa,
            department, grade, address, spec, created_at
        ) VALUES (
                     #{userId}, #{email}, #{password}, #{incomeBracket}, #{gpa},
                     #{department}, #{grade}, #{address}, #{spec}, NOW()
                 )
    </insert>

    <select id="findById" resultType="com.example.donjoogga.vo.User">
        SELECT
            user_id        AS userId,
            email          AS email,
            password       AS password,
            income_bracket AS incomeBracket,
            gpa            AS gpa,
            department     AS department,
            grade          AS grade,
            address        AS address,
            spec           AS spec,
            created_at     AS createdAt
        FROM User
        WHERE user_id = #{userId}
    </select>

    <update id="update" parameterType="com.example.donjoogga.vo.User">
        UPDATE User
        SET
            password = #{password},
            email = #{email},
            income_bracket = #{incomeBracket},
            gpa = #{gpa},
            department = #{department},
            grade = #{grade},
            address = #{address},
            spec = #{spec}
        WHERE
            user_id = #{userId}
    </update>

</mapper>